nav a.active{
    color: #14b8a6;
    background-color: #1e293b;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    scale: 1.05;
    transition: all 0.3s ease-in-out;
}
nav a.active:active{
    scale: 1.05
}